.container {
    width: 100%;
    height: 50px;
    display: flex;
}

.words-container {
    width: 50%;
}

.numbers-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
