.container {
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.option-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;

    .number {
        font-size: 28px;
    }
}
