.container {
    display: flex;
    justify-content: space-evenly;
    border-top: solid 1px gray;
}

mat-icon {
    height: 36px;
    width: 36px;
    font-size: 36px;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin: 0px;
    }
}
